<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="zh-CN">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac51e0c26cb60ed91334efcc1c19a0eb91f6b7992b6.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1e0c26cb60ed91334efcc1c19a0eb91f6b7992b6</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7,xamarinandroid-7.1,xamarinios-10.8,xamarinmac-3.0</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Defines an environment for the objects that are resident inside it and for which a policy can be enforced.</source>
          <target state="translated">为驻留在其中的对象定义环境，在此环境中可以实施策略。</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A context is an ordered sequence of properties that define an environment for the objects resident inside it.</source>
          <target state="translated">上下文是定义的环境可用于驻留在其中的对象的属性的有序。</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Contexts get created during the activation process for objects that are configured to require certain automatic services, such as synchronization, transactions, just-in-time activation, security, and so on.</source>
          <target state="translated">配置为要求某些自动的服务，如同步、 事务、 在实时激活、 安全性和等等的对象的激活过程中创建上下文。</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Multiple objects can live inside a context.</source>
          <target state="translated">多个对象可以存留在一个上下文内。</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes are marked with an instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> class, which provides the usage rules.</source>
          <target state="translated">与的实例标记类<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph>类，该类提供使用规则。</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Whenever a new object is instantiated, the .NET Framework finds a compatible or creates a new instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> class for the object.</source>
          <target state="translated">每当实例化一个新对象时，.NET Framework 查找兼容的或创建的新实例<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph>对象类。</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Once an object is placed in a context, it stays in it for life.</source>
          <target state="translated">一旦对象放置到上下文中，就会保持其整个生命周期。</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes that can be bound to a context are called context-bound classes.</source>
          <target state="translated">可以绑定到上下文的类称为上下文绑定类。</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>When accessed from another context, such classes are referenced directly by using a proxy.</source>
          <target state="translated">当从另一个上下文访问，请直接通过使用代理服务器会引用此类类。</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Any call from an object in one context to an object in another context will go through a context proxy and be affected by the policy that the combined context properties enforce.</source>
          <target state="translated">对另一个上下文中的对象从一个上下文中的对象的任何调用将经过上下文代理，受组合的上下文属性强制执行策略。</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A new object's context is generally chosen based on meta-data attributes on the class.</source>
          <target state="translated">新对象的上下文通常基于类的元数据特性进行选择。</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>This mechanism is extensible through custom attributes.</source>
          <target state="translated">此机制是可扩展的通过自定义特性。</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>These are known as static-context properties, which are compiled into the class meta-data.</source>
          <target state="translated">这些被称为编译为类元数据的静态上下文属性。</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Dynamic-context properties (also known as configuration properties) can be applied and configured by administrators.</source>
          <target state="translated">动态上下文属性 （也称为配置属性） 可以应用，并可以由管理员配置。</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>For more information on contexts, see <bpt id="p1">[</bpt>&amp;#91;<ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts&gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</source>
          <target state="translated">有关上下文的详细信息，请参阅<bpt id="p1">[</bpt> &amp;#91; <ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts &gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>。</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> class.</source>
          <target state="translated">初始化 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> 类的新实例。</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>Allocates an unnamed data slot.</source>
          <target state="translated">分配未命名的数据槽。</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>A local data slot.</source>
          <target state="translated">局部数据槽。</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">该数据槽分配所有上下文中。</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The required name for the data slot.</source>
          <target state="translated">数据槽所需的名称。</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Allocates a named data slot.</source>
          <target state="translated">分配已命名的数据槽。</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>A local data slot object.</source>
          <target state="translated">局部数据槽对象。</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">该数据槽分配所有上下文中。</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">命名的数据槽都是公开的并可操作的任何人。</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>Gets the context ID for the current context.</source>
          <target state="translated">获取当前上下文的上下文 ID。</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>The context ID for the current context.</source>
          <target state="translated">当前上下文的上下文 ID。</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>Gets the array of the current context properties.</source>
          <target state="translated">获取当前上下文属性的数组。</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>The current context properties array; otherwise, <ph id="ph1">&lt;see langword="null" /&gt;</ph> if the context does not have any properties attributed to it.</source>
          <target state="translated">当前上下文属性的数组；如果没有以任何属性对上下文进行特性化，则为 <ph id="ph1">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Gets the default context for the current application domain.</source>
          <target state="translated">获取当前应用程序域的默认上下文。</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>The default context for the <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> 命名空间的默认上下文。</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Every thread in an application domain for which a context is not explicitly set is considered to be running in the default context.</source>
          <target state="translated">为其上下文未显式设置应用程序域中的每个线程将被视为默认上下文中运行。</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate used to request the callback.</source>
          <target state="translated">用于请求回调的委托。</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>Executes code in another context.</source>
          <target state="translated">执行另一上下文中的代码。</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>A callback can be done by calling the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> method on it by passing in a delegate.</source>
          <target state="translated">可以通过回调调用<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph>在其上通过传入委托的方法。</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate is used to request a callback.</source>
          <target state="translated">委托用于请求回调。</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate must be a <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> class type.</source>
          <target state="translated">委派必须是<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph>类类型。</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>Cleans up the backing objects for the nondefault contexts.</source>
          <target state="translated">清理非默认上下文的后备对象。</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>For default contexts, backing objects are cleaned up during shut down of the <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> class.</source>
          <target state="translated">默认上下文后备对象清理在关闭期间按下的<ph id="ph1">&lt;xref:System.AppDomain&gt;</ph>类。</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>The name of the data slot to free.</source>
          <target state="translated">要释放的数据槽的名称。</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Frees a named data slot on all the contexts.</source>
          <target state="translated">释放所有上下文中的命名数据槽。</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">命名的数据槽都是公开的并可操作的任何人。</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Freezes the context, making it impossible to add or remove context properties from the current context.</source>
          <target state="translated">冻结上下文，使其无法从当前上下文添加或移除上下文属性。</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Context properties cannot be added after the context has been frozen.</source>
          <target state="translated">上下文已被冻结后，无法添加上下文属性。</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>The context is already frozen.</source>
          <target state="translated">上下文已经冻结。</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>The data slot that contains the data.</source>
          <target state="translated">包含数据的数据槽。</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Retrieves the value from the specified slot on the current context.</source>
          <target state="translated">从当前上下文上的指定槽检索值。</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Returns the data associated with <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</source>
          <target state="translated">返回与 <ph id="ph1">&lt;paramref name="slot" /&gt;</ph> 关联的数据。</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>The data slot name.</source>
          <target state="translated">数据槽名称。</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Looks up a named data slot.</source>
          <target state="translated">查找命名的数据槽。</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Returns a local data slot.</source>
          <target state="translated">返回局部数据槽。</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>If the name has not been used, a new slot is allocated.</source>
          <target state="translated">如果不使用的名称，将分配新的槽。</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">命名的数据槽都是公开的并可操作的任何人。</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The name of the property.</source>
          <target state="translated">属性的名称。</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>Returns a specific context property, specified by name.</source>
          <target state="translated">返回由名称指定的特定上下文属性。</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The specified context property.</source>
          <target state="translated">指定的上下文属性。</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The dynamic property to register.</source>
          <target state="translated">要注册的动态属性。</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">为其注册 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的对象/代理。</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">为其注册 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的上下文。</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Registers a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface with the remoting service.</source>
          <target state="translated">用远程处理服务注册实现 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 接口的动态属性。</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the property was successfully registered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">如果该属性已成功注册，则为 <ph id="ph1">&lt;see langword="true" /&gt;</ph>；否则为 <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Based on <ph id="ph1">`obj`</ph> and <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> is asked to contribute a sink that is placed at some location in the path of remoting calls.</source>
          <target state="translated">基于<ph id="ph1">`obj`</ph>和<ph id="ph2">`ctx`</ph>，<ph id="ph3">`prop`</ph>需要分配接收器放置在路径中的远程处理调用某些位置。</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If multiple properties are registered, their sinks will be called in an arbitrary order that can change between calls.</source>
          <target state="translated">如果注册了多个属性，将可以调用之间进行切换以任意顺序调用它们的接收器。</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`obj`</ph> is not <ph id="ph2">`null`</ph>, and then if it is a proxy, all calls made on the proxy are intercepted.</source>
          <target state="translated">如果<ph id="ph1">`obj`</ph>不<ph id="ph2">`null`</ph>，然后是代理，如果在代理上所做的所有调用都会被都截获和。</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Otherwise, if <ph id="ph1">`obj`</ph> is a real object, all calls on the object are intercepted.</source>
          <target state="translated">否则为如果<ph id="ph1">`obj`</ph>是真实的对象，该对象上的所有调用都会被都截获。</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">`ctx`</ph> parameter must be <ph id="ph2">`null`</ph>.</source>
          <target state="translated"><ph id="ph1">`ctx`</ph>参数必须是<ph id="ph2">`null`</ph>。</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`ctx`</ph> is not <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> must be <ph id="ph4">`null`</ph> and all calls entering and leaving the context are intercepted.</source>
          <target state="translated">如果<ph id="ph1">`ctx`</ph>不<ph id="ph2">`null`</ph>，<ph id="ph3">`obj`</ph>必须<ph id="ph4">`null`</ph>和进入和离开上下文的所有调用都会被都截获。</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If both <ph id="ph1">`ctx`</ph> and <ph id="ph2">`obj`</ph> are <ph id="ph3">`null`</ph>, all calls entering and leaving all contexts are intercepted.</source>
          <target state="translated">如果这两个<ph id="ph1">`ctx`</ph>和<ph id="ph2">`obj`</ph>是<ph id="ph3">`null`</ph>，进入和离开所有上下文中的所有调用都会被都截获。</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Either <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> or its name is <ph id="ph2">&lt;see langword="null" /&gt;</ph>, or it is not dynamic (it does not implement <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</source>
          <target state="translated">要么 <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> 或其名称为 <ph id="ph2">&lt;see langword="null" /&gt;</ph>，要么它不是动态的（不实现 <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>）。</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">对象和上下文都已指定（<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> 和 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> 都不为 <ph id="ph3">&lt;see langword="null" /&gt;</ph>）。</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">用于将代码插入到 CLR 基础结构。</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">关联枚举：<ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data slot where the data is to be added.</source>
          <target state="translated">数据要添加到的数据槽。</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data that is to be added.</source>
          <target state="translated">要添加的数据。</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>Sets the data in the specified slot on the current context.</source>
          <target state="translated">设置当前上下文中的指定槽中的数据。</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The actual context property.</source>
          <target state="translated">实际的上下文属性。</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Sets a specific context property by name.</source>
          <target state="translated">通过名称设置特定的上下文属性。</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Adding properties to the default context is not allowed.</source>
          <target state="translated">不允许将属性添加到默认上下文。</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The context is frozen.</source>
          <target state="translated">上下文被冻结。</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The property or the property name is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">属性或属性名称为 <ph id="ph1">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="180" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>Returns a <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">返回当前上下文的 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 类表示形式。</target>       </trans-unit>
        <trans-unit id="181" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>A <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">当前上下文的 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 类表示形式。</target>       </trans-unit>
        <trans-unit id="182" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The name of the dynamic property to unregister.</source>
          <target state="translated">要注销的动态属性的名称。</target>       </trans-unit>
        <trans-unit id="183" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">为其注册 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的对象/代理。</target>       </trans-unit>
        <trans-unit id="184" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">为其注册 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的上下文。</target>       </trans-unit>
        <trans-unit id="185" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Unregisters a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface.</source>
          <target state="translated">注销实现 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 接口的动态属性。</target>       </trans-unit>
        <trans-unit id="186" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the object was successfully unregistered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">如果对象已成功注销，则为 <ph id="ph1">&lt;see langword="true" /&gt;</ph>；否则为 <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="187" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">&lt;paramref name="name" /&gt;</ph> parameter is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="name" /&gt;</ph> 参数为 <ph id="ph2">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="188" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">对象和上下文都已指定（<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> 和 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> 都不为 <ph id="ph3">&lt;see langword="null" /&gt;</ph>）。</target>       </trans-unit>
        <trans-unit id="189" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">用于将代码插入到 CLR 基础结构。</target>       </trans-unit>
        <trans-unit id="190" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">关联枚举：<ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>。</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>